* html { font-size: 81.25%; }

html { font-size: 13px; line-height: 2em; }

html * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { background: #cee7f4; font-family: "Open Sans"; font-weight: 400; color: #383838; position: relative; -webkit-font-smoothing: antialiased; }

@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; } }
html, body { height: 100%; }

.ie9 { font-family: "Open Sans"; }

.ie9 * { font-family: "Open Sans"; }

.hide { display: none; }

.hide.active, .show { display: block; }

.fixed { position: fixed; }

.fixed.pinned { position: absolute; }

@media only screen and (max-width: 768px) { .fixed { position: relative !important; top: auto !important; right: auto !important; } }
.unfixed { position: relative !important; top: auto !important; right: auto !important; }

.text-center { text-align: center; }

.text-left { text-align: right; }

.text-right { text-align: left; }

/* Fonts */
@font-face { font-family: 'FontAwesome'; font-style: normal; font-weight: normal; src: url(../fonts/font-awesome/fontawesome-webfont.eot); src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix") format("ie9-skip-eot"), url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"); }

h1, h2, h3, h4, h5, h6 { font-family: "Open Sans"; font-weight: Normal; color: #383838; text-rendering: optimizeLegibility; padding-top: 0.336em; line-height: 1.422em; padding-bottom: 0.336em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #d04526; }

@media only screen and (max-width: 767px) { h1, h2, h3, h4, h5, h6 { word-wrap: break-word; } }
h1 { font-size: 55px; font-size: 4.23077rem; }

h1.xlarge { font-size: 89px; font-size: 6.84615rem; }

h1.xxlarge { font-size: 93px; font-size: 7.15385rem; }

h1.absurd { font-size: 144px; font-size: 11.07692rem; }

h2 { font-size: 34px; font-size: 2.61538rem; }

h3 { font-size: 22px; font-size: 1.69231rem; }

h4 { font-size: 21px; font-size: 1.61538rem; }

h5 { font-size: 14px; font-size: 1.07692rem; }

h6 { font-size: 13px; font-size: 1rem; }

@media only screen and (max-width: 767px) { h1 { font-size: 34px; font-size: 2.61538rem; }
  h2 { font-size: 28px; font-size: 2.15385rem; } }
.subhead { color: #777; font-weight: normal; margin-bottom: 20px; }

/*=====================================================  Links & Paragraph styles  ======================================================*/
p { font-family: "Open Sans"; font-weight: 400; font-size: 13px; font-size: 1rem; margin-bottom: 13px; line-height: 2em; }

p.lead { font-size: 16.25px; font-size: 1.25rem; margin-bottom: 14px; }

@media only screen and (max-width: 768px) { p { font-size: 14.3px; font-size: 1.1rem; line-height: 2em; } }
a { color: #5378b0; text-decoration: none; outline: 0; line-height: inherit; }

a:hover { color: #f15a22; }

/*===================================================== Lists  ======================================================*/
ul, ol { margin-bottom: 0.336em; }

ul { list-style: none outside; }

ol { list-style: decimal; margin-right: 30px; }

ul.square, ul.circle, ul.disc { margin-right: 25px; }

ul.square { list-style: square outside; }

ul.circle { list-style: circle outside; }

ul.disc { list-style: disc outside; }

ul ul { margin: 4px 25px 5px 0; }

ol ol { margin: 4px 30px 5px 0; }

li { padding-bottom: 0.336em; }

ul.large li { line-height: 21px; }

dl dt { font-weight: bold; font-size: 13px; font-size: 1rem; }

@media only screen and (max-width: 768px) { ul, ol, dl, p { text-align: right; } }
/* Mobile */
em { font-style: italic; line-height: inherit; }

strong { font-weight: 700; line-height: inherit; }

small { font-size: 56.4%; line-height: inherit; }

h1 small, h2 small, h3 small, h4 small, h5 small { color: #777; }

/*  Blockquotes  */
blockquote { line-height: 20px; color: #777; margin: 0 0 18px; padding: 9px 19px 0 20px; border-right: 5px solid #cccccc; }

blockquote p { line-height: 20px; color: #777; }

blockquote cite { display: block; font-size: 12px; font-size: 1.2rem; color: #383838; }

blockquote cite:before { content: "\2014 \0020"; }

blockquote cite a { color: #383838; }

blockquote cite a:visited { color: #383838; }

hr { border: 1px solid #cccccc; clear: both; margin: 16px 0 18px; height: 0; }

abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #cccccc; cursor: help; }

abbr { text-transform: none; }

/** Print styles.  Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/ Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com) */
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: sanbeiji.com/archives/953 */
  p a { color: #383838 !important; text-decoration: underline; }
  p a:visited { color: #383838 !important; text-decoration: underline; }
  p a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
.row { width: 100%; max-width: 1160px; min-width: 320px; margin: 0 auto; }

@media only screen and (max-width: 1180px) { .row { padding: 0 2px; } }
.row .row { min-width: 0px; }

@media only screen and (max-width: 1180px) { .row .row { padding: 0; } }
/* To fix the grid into a different size, set max-width to your desired width */
.column, .columns { margin-right: 0.17241%; float: right; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Column Classes */
.row .one.columns { width: 27px; }

.row .two.columns { width: 56px; }

.row .three.columns { width: 85px; }

.row .four.columns { width: 114px; }

.row .five.columns { width: 143px; }

.row .six.columns { width: 172px; }

.row .seven.columns { width: 201px; }

.row .eight.columns { width: 230px; }

.row .nine.columns { width: 259px; }

.row .ten.columns { width: 288px; }

.row .eleven.columns { width: 317px; }

.row .twelve.columns { width: 346px; }

.row .thirteen.columns { width: 375px; }

.row .fourteen.columns { width: 404px; }

.row .fifteen.columns { width: 433px; }

.row .sixteen.columns { width: 462px; }

.row .seventeen.columns { width: 491px; }

.row .eighteen.columns { width: 520px; }

.row .nineteen.columns { width: 549px; }

.row .twenty.columns { width: 578px; }

.row .twenty-one.columns { width: 607px; }

.row .twenty-two.columns { width: 636px; }

.row .twenty-three.columns { width: 665px; }

.row .twenty-four.columns { width: 694px; }

.row .twenty-five.columns { width: 723px; }

.row .twenty-six.columns { width: 752px; }

.row .twenty-seven.columns { width: 781px; }

.row .twenty-eight.columns { width: 810px; }

.row .twenty-nine.columns { width: 839px; }

.row .thirty.columns { width: 868px; }

.row .thirty-one.columns { width: 897px; }

.row .thirty-two.columns { width: 926px; }

.row .thirty-three.columns { width: 955px; }

.row .thirty-four.columns { width: 984px; }

.row .thirty-five.columns { width: 1013px; }

.row .thirty-six.columns { width: 1042px; }

.row .thirty-seven.columns { width: 1071px; }

.row .thirty-eight.columns { width: 1100px; }

.row .thirty-nine.columns { width: 1129px; }

.row .fourty.columns { width: 1158px; }

/* Push Classes */
.row .prefix_1 { margin-right: 29px; }

.row .prefix_2 { margin-right: 58px; }

.row .prefix_3 { margin-right: 87px; }

.row .prefix_4 { margin-right: 116px; }

.row .prefix_5 { margin-right: 145px; }

.row .suffix_1 { margin-left: 29px; }

.row .suffix_2 { margin-left: 58px; }

.row .suffix_3 { margin-left: 87px; }

.row .suffix_4 { margin-left: 116px; }

.row .suffix_5 { margin-left: 145px; }

/* Centered Classes */
.row .one.centered { margin-right: 48.83405%; }

.row .two.centered { margin-right: 47.5819%; }

.row .three.centered { margin-right: 46.32974%; }

.row .four.centered { margin-right: 45.07759%; }

.row .five.centered { margin-right: 43.82543%; }

.row .six.centered { margin-right: 42.57328%; }

.row .seven.centered { margin-right: 41.32112%; }

.row .eight.centered { margin-right: 40.06897%; }

.row .nine.centered { margin-right: 38.81681%; }

.row .ten.centered { margin-right: 37.56466%; }

.row .eleven.centered { margin-right: 36.3125%; }

.row .twelve.centered { margin-right: 35.06034%; }

.row .thirteen.centered { margin-right: 33.80819%; }

.pull_right { float: left; }

.pull_left { float: right; }

img, object, embed { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none !important; }

/* Tile Grid */
.tiles { display: block; overflow: hidden; }

.tiles > li { display: block; height: auto; float: right; padding-bottom: 0; }

.tiles.two_up { margin-right: -4%; }

.tiles.two_up > li { margin-right: 4%; width: 46%; }

.tiles.three_up, .tiles.four_up { margin-right: -2%; }

.tiles.three_up > li { margin-right: 2%; width: 31.3%; }

.tiles.four_up > li { margin-right: 2%; width: 23%; }

.tiles.five_up { margin-right: -1.5%; }

.tiles.five_up > li { margin-right: 1.5%; width: 18.5%; }

/* Nicolas Gallagher's micro clearfix */
.clearfix { *zoom: 1; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.row { *zoom: 1; }

.row:before, .row:after { content: ""; display: table; }

.row:after { clear: both; }

.valign { display: table; width: 100%; }

.valign > div { display: table-cell; vertical-align: middle; }

.valign ​ > article { display: table-cell; vertical-align: middle; }

/* Mobile */
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; }
  .container { min-width: 0; margin-right: 0; margin-left: 0; }
  .row { width: 100%; min-width: 0; margin-right: 0; margin-left: 0; }
  .row .row .column, .row .row .columns { padding: 0; }
  .row .centered { margin-right: 0 !important; }
  .column, .columns { width: auto !important; float: none; margin-right: 0; margin-left: 0; }
  .column:last-child, .columns:last-child { margin-left: 0; float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  [class*="column"]:before { display: table; }
  [class*="column"]:after { display: table; clear: both; }
  [class^="push_"], [class*="push_"] { margin-right: 0 !important; } }
/* Form Styles */
form { margin: 0 0 18px; }

form label { display: block; font-size: 13px; font-size: 1rem; line-height: 2em; cursor: pointer; margin-bottom: 9px; }

form label.inline { display: inline-block; padding-left: 20px; }

form dt { margin: 0; }

form textarea { height: 150px; }

form ul, form ul li { margin-right: 0; list-style-type: none; }

form fieldset { border-style: solid; border-width: 0.07692em; padding: 1.92308em; border-color: #d8d8d8; margin: 18px 0; }

form fieldset legend { padding: 5px 10px; }
