@media only screen and (max-width: 1023px) { html:not(.oldie) body { background-position: right 0 !important; }
  html:not(.oldie) .row.mobile #loginMobile { float: left; margin-right: 10px; margin-left: 28px; }
  html:not(.oldie) .row.mobile.blue #showLeftPush { margin-left: 5px; margin-right: 28px; }
  html:not(.oldie) .row.mobile.blue .btSearch { float: left; }
  html:not(.oldie) .row.mobile.blue .mobileLanguage { float: left; }
  html:not(.oldie) .row.mobile.blue .mobileLanguage ul { right: auto; left: 0; }
  html:not(.oldie) .btLocation select { left: auto; right: 0; }
  html:not(.oldie) .homeEvents .seven { float: right; }
  html:not(.oldie) .homeEvents .seven.suffix_2 { margin-right: 0 !important; margin-left: 3% !important; }
  html:not(.oldie) .sessionItem ul .where, html:not(.oldie) .sessionItem ul .when, html:not(.oldie) .sessionItem ul .who, html:not(.oldie) .sessionItem ul li { padding-right: 44px; text-align: right; }
  html:not(.oldie) .documents { width: 100% !important; }
  html:not(.oldie) .documents .holder .twenty-seven { float: right; }
  html:not(.oldie) .documents .holder .twenty-seven .btExpand { left: auto; right: 25px; }
  html:not(.oldie) .documents .holder .thirteen { float: right; }
  html:not(.oldie) .search .prefix_1 { margin-left: 0 !important; margin-right: 5px !important; }
  html:not(.oldie) .search .suffix_1 { margin-right: 0 !important; margin-left: 5px !important; }
  html:not(.oldie) .dvText p, html:not(.oldie) .dvText h1, html:not(.oldie) .dvText .date { margin-left: 0px !important; margin-right: 0px !important; }
  html:not(.oldie) .dvText .social { right: auto; left: 10px; }
  html:not(.oldie) .dashboard a.item { margin-left: 0 !important; margin-right: 6% !important; } }
@media only screen and (max-width: 550px) { html:not(.oldie) .statementList .holder a { margin-left: 0 !important; margin-right: 0 !important; }
  html:not(.oldie) .statementList .holder .btVideo { right: 0; }
  html:not(.oldie) .statementList .holder .btAudio { left: 0; } }
@media only screen and (max-width: 400px) { html:not(.oldie) .row.mobile { padding-right: 9px !important; padding-left: 9px !important; }
  html:not(.oldie) .row.mobile.blue #showLeftPush { margin-right: 0px; }
  html:not(.oldie) .row.mobile.blue .mobileLanguage { margin-left: 10px; }
  html:not(.oldie) .row.mobile.blue #loginMobile { margin-left: 0px; }
  html:not(.oldie) .homeEvents .suffix_1 { margin-right: 0 !important; margin-left: 10px !important; }
  html:not(.oldie) .homeEvents .prefix_1 { margin-left: 0 !important; margin-right: 10px !important; }
  html:not(.oldie) .homeEvents .seven { float: right; }
  html:not(.oldie) .homeEvents .seven.suffix_2 { margin-right: 0 !important; margin-left: 3% !important; }
  html:not(.oldie) .documents .holder .suffix_1 { margin-right: 0 !important; margin-left: 10px !important; }
  html:not(.oldie) .documents .holder .prefix_1 { margin-left: 0 !important; margin-right: 10px !important; }
  html:not(.oldie) .documentContent .suffix_1 { margin-right: 0 !important; margin-left: 10px !important; }
  html:not(.oldie) .documentContent .prefix_1 { margin-left: 0 !important; margin-right: 10px !important; }
  html:not(.oldie) .documentContent .sort .dummie label { float: right; }
  html:not(.oldie) .documentContent .sort .dummie select, html:not(.oldie) .documentContent .sort .dummie .dk_container { float: left !important; }
  html:not(.oldie) .listDocument .item .content .blackBox { left: auto !important; right: -80px !important; }
  html:not(.oldie) .listDocument .item .content .blackBox .pinguelo { left: auto; right: 50%; margin-left: 0; margin-right: -5px; }
  html:not(.oldie) .programmeList .holderMobile .btVideo { float: right; }
  html:not(.oldie) .programmeList .holderMobile .btAudio { float: left; }
  html:not(.oldie) .dashboard a.item { margin-right: 0 !important; float: right; }
  html:not(.oldie) .dashboard a.item:nth-child(2), html:not(.oldie) .dashboard a.item:nth-child(4) { float: left; }
  html:not(.oldie) footer .fourty ul li { margin-right: 0px; }
  html:not(.oldie) footer .fourty ul .facebook { margin-left: 0; margin-right: 6px; }
  html:not(.oldie) .presskit h1 { padding-right: 0; }
  html:not(.oldie) .presskit .mobileAdapt { float: right; }
  html:not(.oldie) .presskit .bio figure img { margin-left: 6px; }
  html:not(.oldie) .presskit .bio .w108 { float: left; }
  html:not(.oldie) .pagination a.prev { margin-right: 0px; }
  html:not(.oldie) .pagination a.prev .icon { margin-left: 0 !important; margin-right: 5px !important; }
  html:not(.oldie) .pagination a.next { margin-left: 0px; }
  html:not(.oldie) .pagination a.next .icon { margin-right: 0 !important; margin-left: 5px !important; } }
